body {
  background-color: #303030;
  color: #fff;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  color: #eee;
  text-align: center;
}

.full-width-input {
  width: 100%;
  margin: 12px 0;
}

.primary-snackbar {
  background-color: #69f0ae;
  color: #424242;
}

.danger-snackbar {
  background-color: #f06969;
  color: black;
}