@import "~@angular/material/theming";
@import "./assets/scss/themes.scss";
@include angular-material-theme($material-light-theme);

.dark-theme {
  @include angular-material-color($material-dark-theme);
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.full-width-input {
  width: 100%;
  margin: 12px 0;
}

.primary-snackbar {
  background-color: #424242;
  color: white;
}

.danger-snackbar {
  background-color: #f03f3f;
  color: white;
}